NODE_ENV=development
PORT=5000

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the 
DATABASE_URL=""

BETTER_AUTH_SECRET=aaaaaaaaaaaaaaaaaaaa

BETTER_AUTH_URL=http://localhost:5000 # Base URL of your app

ACCESS_TOKEN_SECRET=accesssecret
REFRESH_TOKEN_SECRET=refreshsecret
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=7d
BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN=1d
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=1d

# akgg idyw rrju ekkr

EMAIL_SENDER_SMTP_USER=aaaaaaaaaaaaaaaaa
EMAIL_SENDER_SMTP_PASS=aaaaaaaaaaaaaaa
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=465
EMAIL_SENDER_SMTP_FROM=aaaaaaaaaaaaaaa

# id
# your_google_client_id_here
GOOGLE_CLIENT_ID=aaaaaaaaaaaaaaaaaaaaa

# secret
# your_google_client_secret_here
GOOGLE_CLIENT_SECRET=aaaaaaaaaaaaaaa

GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/callback/google

FRONTEND_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=aaaaaaaaaaaaaaaa
CLOUDINARY_API_KEY=aaaaaaaaaaaaaaa
CLOUDINARY_API_SECRET=aaaaaaaaaaaaaaaaaa
